@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #000000;
  background: gainsboro;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.form-template {
  padding-top: 70px;
  padding-left: 30%;
  width: 900px;
}

.form-title {
  padding-top: 30px;
  text-align: center;
}